.nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #505d68;
    /* padding-left: 10px; */
}

.nav {
  overflow: hidden;
  background-color: #c2d1d9;
}

.nav-link {
  float: left;
  color: #505d68;
  background-color: #c2d1d9;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border:none;
  cursor: pointer;
  outline:0;
}

.nav-link:hover {
  background-color: #04b8f3;
  color: #c2d1d9;
}

.nav-right {
  float: right;
}

.logo {
  margin: 15px;
}